.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 20px;
      display: flex;
      align-items: center;
      font-weight: bold;
      
      img {
        width: 40px;
        height:40px;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
